/* Переменные */
:root {
  --section-color-dark: #2f303a;
  --hover-focus-color: #2196f3;
  --main-color: #ffffff;
  --section-color-light: #f5f4fa;
  --main-font-color: #212121;
  --button-border-radius: 4px;
  --font-color-dark: #757575;
  --card-border-color: #eeeeee;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --dark-color: #000000;
  --icon-color: #afb1b8;
  --back-bg: #c4c4c4;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Общая стилизация */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
img {
  display: block;
  height: auto;
  min-width: 100%;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-font-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.grid-item {
  margin-left: 30px;
  margin-top: 30px;
}
.wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.link {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* Стилизация header */
.header {
  border-bottom: 1px solid #ececec;
  align-items: center;
}
.header .container {
  display: flex;
  justify-content: flex-end;
}
.header .site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.site-nav .item .current {
  color: var(--hover-focus-color);
}
.site-contact {
  display: flex;
  align-items: center;
  color: var(--font-color-dark);
}
.site-contact .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .item {
  position: relative;
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.logo {
  text-decoration: none;
  color: var(--dark-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo span {
  color: var(--hover-focus-color);
}
.site-nav .link-nav {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-font-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}
.link-contact {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--font-color-dark);
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid var(--hover-focus-color);
  border-radius: 2px;
}
.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.smartphonee-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.hero {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--back-bg);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-container {
  width: 696px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
  letter-spacing: 0.06em;
}
.hero-button {
  background-color: var(--hover-focus-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-color);
  border: none;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  padding: 10px 32px;
}
.backdrop {
  position: fixed;
  z-index: 990;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  width: 528px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  transition: transform 1000ms var(--timing-function),
    opacity 1000ms var(--timing-function),
    box-shadow 1000ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms var(--timing-function);
}
.modal-btn::before {
  content: "\2716";
}
.modal-btn:focus,
.modal-btn:hover {
  color: var(--hover-focus-color);
}
.modal-title {
  margin-top: 40px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  text-align: center;
}
.modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  color: var(--dark-color);
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--font-color-dark);
}
.form-input {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 0;
  height: 40px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms var(--timing-function);
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  color: var(--hover-focus-color);
}
.form-input:hover,
.form-input:focus {
  border: 1px solid var(--hover-focus-color);
  outline: none;
}
.form-icon {
  position: absolute;
  top: 55%;
  margin-left: 12px;
  fill: currentColor;
  transition: color 250ms var(--timing-function);
}
.form-field:focus-within > .form-icon {
  color: rgba(33, 150, 243, 0.9);
}
.form-icon:focus,
.form-icon:hover {
  color: var(--hover-focus-color);
  cursor: pointer;
}
.form-text-area::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text-area {
  resize: none;
  cursor: pointer;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms var(--timing-function);
}
.form-text-area:hover,
.form-text-area:focus {
  border: 1px solid var(--hover-focus-color);
  outline: none;
}
.form-field:nth-child(5) {
  flex-direction: row;
}
.checkbox-field {
  position: relative;
}
.checkbox {
  appearance: none;
}
.lable-checkbox {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
  margin-top: 20px;
  margin-bottom: 30px;
}
.check-box {
  cursor: pointer;
  margin-left: 12px;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  background-image: url(../images/vector.svg);
}
.checkbox:focus + .check-box {
  outline: 1px solid var(--hover-focus-color);
}

.checkbox:checked:focus + .check-box {
  background-color: #2196f3;
  outline: 1px solid var(--hover-focus-color);
  background-image: url(../images/r.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-form-btn {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  cursor: pointer;
  border: none;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
/* Our principles */
.our-principles {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-principles-list {
  display: flex;
}
.our-principles .container {
  display: flex;
}
.our-principles-list .wrap {
  display: flex;
  padding: 0;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--section-color-light);
  border-radius: 4px;
}
.our-principles .item:not(:last-child) {
  margin-right: 30px;
}
.our-principles-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.our-principles-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
  margin-bottom: 0;
}
.what-we-do {
  text-align: center;
  padding-bottom: 94px;
}
.what-we-do-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.what-we-do .grid-item {
  position: relative;
}
.img-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.our-team {
  background-color: var(--section-color-light);
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-card {
  width: 270px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-card-text {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
}
.our-team .wrap {
  text-align: center;
}
.social-link-list {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-link-list .item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-link:focus,
.social-link:hover {
  background-color: var(--hover-focus-color);
  color: var(--main-color);
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.clients-list .item:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--hover-focus-color);
  border: 1px solid var(--hover-focus-color);
}
/* Стилизация Portfolio */
.content-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.filter-list {
  display: inline-flex;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
}
.filter-list .item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--section-color-light);
  border-radius: 4px;
  padding: 6px 22px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.portfolio-card {
  width: 370px;
}
.portfolio-card-back-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-card-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-color);
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;
  transform: translatey(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.portfolio-card .link:focus .portfolio-card-back,
.portfolio-card .link:hover .portfolio-card-back {
  opacity: 1;
  transform: translateY(0);
}
.content-portfolio .wrap {
  text-align: left;
  padding: 20px 24px;
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
}
.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
  font-weight: normal;
  margin-bottom: 0;
}
.portfolio-card .link {
  display: inline-block;
  position: relative;
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-card .link:focus,
.portfolio-card .link:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--timing-function);
}
/* Стилизация footer */
.footer {
  background-color: var(--section-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: inline-block;
  color: var(--main-color);
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.footer-adress:nth-child(2) {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.footer-adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .link-contact {
  color: var(--footer-link-color);
  padding-top: 0;
  padding-bottom: 0;
  transition: color 250ms var(--timing-function);
}
/* Hover and Focus */
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-color);
  background-color: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms var(--timing-function);
}
.link-nav:hover,
.link-nav:focus,
.link-contact:hover,
.link-contact:focus {
  color: var(--hover-focus-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-social-link-wrap {
  margin-left: 70px;
}
.footer-social-link-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 20px;
}
.footer-social-link-list {
  display: flex;
}
.footer-social-link {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}
.footer-social-link-list .item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--hover-focus-color);
}

.footer-form-wrap {
  margin-left: 103px;
}
.footer-form-input {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--section-color-dark);
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  position: relative;
  border: none;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form-btn::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon_send.svg);
  top: 50%;
  transform: translateY(-50%);
}
.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
