.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: $section-color-dark;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: $main-color;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;

  &__part {
    color: $accent-color;
  }
}
.footer-adress:nth-child(2) {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: $main-color;
}
.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-adress__link {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: $footer-link-color;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-social {
  margin-left: 70px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-social__label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-bottom: 20px;
}
.footer-social__list {
  display: flex;
}
.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-social__link {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: $main-color;
  transition: background-color 250ms $timing-function,
    color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.footer-form {
  margin-left: 103px;
}
.footer-form__label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-bottom: 20px;
}

.footer-form__input {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $section-color-dark;
  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-form__btn {
  position: relative;
  border: none;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $main-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &::after {
    content: "";
    position: absolute;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon_send.svg);
    top: 50%;
    transform: translateY(-50%);
  }
}
